@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  background-image: url("/view.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}